APP_NAME='links-analyzer'
APP_ENV='example'
APP_DEBUG=true

# Postgres
POSTGRES_DB='links_analyzer_db'
POSTGRES_USER='links_analyzer'
POSTGRES_PASSWORD='links_analyzer'
POSTGRES_HOST='postgres'
POSTGRES_PORT=5432

# Redis
REDIS_HOST='redis'
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=

# Настройки HTTP
# Максимальное время загрузки одного URL (aiohttp)
FETCH_TIMEOUT_SECONDS=10
# Количество паралельных запросорв (asyncio)
FETCH_CONCURRENCY=10
# Максимальный размер загружаемого ответа
FETCH_MAX_RESPONSE_SIZE_BYTES=2000000
# Значение HTTP-заголовка User-Agent
FETCH_USER_AGENT='LinkWebsiteAnalyzer/0.1'

# Настройки парсера
# Максимальное количество параллельных потоков (workers)
HTML_PARSER_MAX_WORKERS=4
# Максимальная длина Title страницы, для БД
HTML_PARSER_MAX_TITLE_LENGTH=512
# Максимальная длина Description страницы, для БД
HTML_PARSER_MAX_DESCRIPTION_LENGTH=2000

# Настройка фонового выполнения Celery
# Redis БД для очереди Celery-задач
CELERY_BROKER_DB=0
# Redis БД для статусов и результатов выполнения Celery-задач
CELERY_RESULT_BACKEND_DB=1
CELERY_USER=
CELERY_PASSWORD=
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND_URL=redis://redis:6379/1
 # Очередь по умолчанию
CELERY_TASK_DEFAULT_QUEUE=analyzer
CELERY_TIMEZONE=UTC
CELERY_HEALTH_TIMEOUT_SECONDS=1

# Настройка Redis Cache
# Redis БД для кэш
REDIS_CACHE_DB=2
REDIS_CACHE_URL=redis://redis:6379/2
ANALYSIS_CACHE_TTL_SECONDS=600
REDIS_SOCKET_TIMEOUT_SECONDS=3
REDIS_SOCKET_CONNECT_TIMEOUT_SECONDS=3
REDIS_HEALTH_TIMEOUT_SECONDS=3
