APP_NAME=links-analyzer
APP_ENV=local
APP_DEBUG=true

POSTGRES_DB=links_analyzer_db
POSTGRES_USER=links_analyzer
POSTGRES_PASSWORD=links_analyzer
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379