APP_NAME='links-analyzer'
APP_ENV='example'
APP_DEBUG=true

# Postgres
POSTGRES_DB='links_analyzer_db'
POSTGRES_USER='links_analyzer'
POSTGRES_PASSWORD='links_analyzer'
POSTGRES_HOST='postgres'
POSTGRES_PORT=5432

# Redis
REDIS_HOST='redis'
REDIS_PORT=6379

# Настройки HTTP
FETCH_TIMEOUT_SECONDS=10
FETCH_CONCURRENCY=10
FETCH_MAX_RESPONSE_SIZE_BYTES=2000000
FETCH_USER_AGENT='LinkWebsiteAnalyzer/0.1'